.tab{
  .tabItem{
    display: flex;
    width: 30px;
    height: 35px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
}
.icon{
  width: 20px;
  height: 20px;
  font-size:20px;
}