.button {
    margin: 80px 30px 0;
    .btn {
      height: 45px;
      line-height: 45px;
    }
  }
  .grade{
      display: flex;
      height:44px;
      align-items: center;
      padding:0 5%;
      font-size:14px;
      color:#323233;
  }
  .price{
      width:40%;
      margin:0 auto;
      text-align: center;
  }