.total {
  background: linear-gradient(to right,#8590fb,#4cc2d7);
  padding:5px;
  color:white;
  .lineOne {
    display: flex;
    justify-content: space-between;
    .userContainer{
      height:14px;
    }
    .user {
      height:14px;
      line-height: 14px;
      font-size: 14px;
    }
    .post {
      font-size: 12px;
      text-align: center;
    }
    .options {
      font-size: 14px;
    }
  }
  .lineTwo {
    text-align: center;
    margin: 20px 0px;
    .monthIntegral {
      font-size: 20px;
      font-weight: bold;
    }
    .detail {
      font-size: 14px;
      font-weight: bold;
    }
    .rankMonth {
      font-size: 14px;
    }
  }
  .lineThree {
    display: flex;
    justify-content: space-between;
    .integral {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
    .rank {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
  }
}
