.box{
  display: flex;
  margin:10px 15px;
  background:#fff;
  padding:10px;
  border-radius: 15px;
  height: auto;
  .left{
    width: 80%;
    height:100%;
    .txt{
      margin:10px 0 ;
      font-size:16px;
    }
  }
  .right{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
    padding:10px 0;
    .price{
      margin-top:5px;
      font-size:16px;
      width: 100%;
      color:#FF6A6A;
      text-align: center;
    }.pricefu{
      margin-top:5px;
      font-size:16px;
      width: 100%;
      color:#5CACEE;
      text-align: center;
    }
    .button{
      width: 100%;
      text-align: center;
    }
  }
}
