// .listBox{
//   margin:0 10px;
//   .title{
//     display: flex;
//     background:#CDCC9F;
//     justify-content: space-between;
//     .info{
//       font-size:16px;
//       font-weight:bold;
//     }
//   }
//   .list{
//     border:1px solid ;
//     border-color:transparent #000000 #000000 #000000;
//     .line{
//       display: flex;
//       justify-content: space-between;
//       margin:5px 5px 8px 8px;
//       .detail{
//         font-size:17px;
//         font-weight:bold;
//       }
//       .date{
//         font-size:14px;
//         font-weight: bold;
//       }
//     }
//   }
// }
.listBox {
  margin: 0 10px;
  padding:0;
  .listBox{
    margin:0;
    background: #fff;
    // padding-left:10px;
  }
  .list{
    display: flex;
    justify-content: space-between;
  }
  .slotBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
