.container{
  display: flex;
  flex-wrap: wrap;
  align-content:space-around;
  background: #fff;
  margin:10px 15px;
  height: 150px;
  border-radius: 15px;
  padding: 10px;
  .lineOne{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title{

    }
    .price{
      color:#FF6A6A
    }
  }
  .lineTwo{
width: 100%;
  }
  .footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom:0;
  }
}