.mainPage{
    background: #fff;
    min-height: 100vh;
  }
  .button{
    margin:50px 30px;
    .btn{
      height: 45px;
      line-height: 45px;
    }
  }
  .container{
    padding:48px 0px 52px;
  }