.rankBox{
  display: flex;
  margin:10px 0;
  justify-content: space-around;
  width: 100vw;
  .title{
    color:#B0B0B0;
    margin:5px 0;
    font-size:17px;
    font-weight:bold;
  }
  .integral{
    text-align: center;
    margin:5px 0;
    font-size:17px;
    font-weight: bold;
  }
  .rank{
    color:	#1E90FF;
    margin:5px 0;
    font-size:17px;
    font-weight: bold;
    text-align: center;

  }
}